<%= simple_form_for([@participant,@value]) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
	<div>
		
		<% if @personality.gender == 1%>


			<% @values_array.each_with_index do |val,i| %>

				<% if i%11 == 0%>
				<div>
					<b>Here we briefly describe some people. Please read each description and think about how much each person is or is not like you.</b><br><br>
					0 - Not like me at all<br>
					1 - Not like me<br>
					2 - A little like me<br>
					3 - Somewhat like me<br>
					4 - Like me<br>
					5 - Very much like me<br>
				</div>

				<div>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>&nbsp;</th>
								<th style="text-align:center">0</th>
								<th style="text-align:center">1</th>
								<th style="text-align:center">2</th>
								<th style="text-align:center">3</th>
								<th style="text-align:center">4</th>
								<th style="text-align:center">5</th>
							</tr>
						</thead>
						<tbody>
				<% end %>
							<tr>
								<td style="text-align:left"><%=i+1%>.&nbsp;<%= Value::VALUES_Q_M[val][1]%><%= f.error("val_"+Value::VALUES_Q_M[val][0]) %></td>
								<% 6.times do |count| %>
								<td style="text-align:center"><%= f.radio_button( "val_"+Value::VALUES_Q_M[val][0], count) %></td>
								<% end %>
							</tr>
					<% if (i+1)%11 == 0%>
						</tbody>

					</table>
			  	</div>			
					<% end %>			

			<% end %>
		
		<% else %>
		

			<% @values_array.each_with_index do |val,i| %>

				<% if i%11 == 0%>
				<div>
					<b>Here we briefly describe some people. Please read each description and think about how much each person is or is not like you.</b><br><br>
					0 - Not like me at all<br>
					1 - Not like me<br>
					2 - A little like me<br>
					3 - Somewhat like me<br>
					4 - Like me<br>
					5 - Very much like me<br>
				</div>

				<div>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>&nbsp;</th>
								<th style="text-align:center">0</th>
								<th style="text-align:center">1</th>
								<th style="text-align:center">2</th>
								<th style="text-align:center">3</th>
								<th style="text-align:center">4</th>
								<th style="text-align:center">5</th>
							</tr>
						</thead>
						<tbody>
				<% end %>

							<tr>
								<td style="text-align:left"><%=i+1%>.&nbsp;<%= Value::VALUES_Q_F[val][1]%><%= f.error("val_"+Value::VALUES_Q_F[val][0]) %></td>
								<% 6.times do |count| %>
								<td style="text-align:center"><%= f.radio_button( "val_"+Value::VALUES_Q_F[val][0], count) %></td>

								<% end %>
							</tr>
					<% if (i+1)%11 == 0%>
						</tbody>

					</table>
			  	</div>			
					<% end %>			

			<% end %>

		<% end %>
  	</div>

  <div class="actions">
    <br><%= f.submit "Continue" , :class => 'btn btn-primary'  %>
  </div>

  </div>
<% end %>
