<%= simple_form_for(@participant) do |f| %>
  <%= f.error_notification %>


  <%= f.hidden_field :worker_id %>
  <%= f.hidden_field :hit_id %>
  <%= f.hidden_field :assignment_id %>


  <div class="actions">
    <%= f.submit "Continue" , :class => 'btn btn-primary'  %>
  </div>
<% end %>
