<%= simple_form_for([@participant,@demographic]) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">

	<p><%=f.input :age, :label=>"What is your age?"%></p>
	<p><%=f.input :state, :label=>"What is your native (or first) language?"%></p>
  </div>

  <div class="actions">
    <br><%= f.submit "Submit HIT" , :class => 'btn btn-primary'  %>
  </div>
<% end %>
